.top{
	height: 60px;
	background: #000;
}

.top .logo{
	width: 230px;
	height: 60px;
	margin-left: 150px;
	float: left;
}
.top .logo h1{
	width: 230px;
	height: 60px;
}
.top .logo h1 a{
	display: block;
	width: 230px;
	height: 60px;
	background: url(../img/themes/images/logo.jpg) no-repeat;
	background-size: 100% 100%;
}
.top .logo h1 a span{
	display: none;
}

.top #home{
	float: left;
	color: #fff;
	width: 72px;
	height: 60px;
	text-align: center;
	line-height: 60px;
}


.main{
	height: 500px;
	background: url(../img/themes/images/loginBg1.jpg) no-repeat;
	background-position: 50% 0;
	padding-top: 40px;
	padding-right: 120px;
}
.main .login{
	width: 382px;
	height: 417px;
	background: #fff;
	border: 1px solid #ccc;
	float: right;
	padding: 15px 30px;
}
.main .login h2{
	width: 320px;
	height: 30px;
	line-height: 30px;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 5px;
}
.main .login h2 span{
	float: right;
	font-size: 12px;
	letter-spacing: 0;
}
.main .login h2 span a{
	text-decoration: underline;
}

.main .login .login_box{
	width: 320px;
	height: 230px;
	margin-top: 15px;
}
.main .login .login_box form ul li:nth-child(1),.main .login .login_box form ul li:nth-child(2){
	width: 320px;
	height: 40px;
	border: 1px solid #ccc;
	line-height: 40px;
	margin-bottom: 24px;
}

input:-webkit-autofill { 
-webkit-box-shadow: 0 0 0px 1000px white inset; 
}

.main .login .login_box form ul li:nth-child(1) input,.main .login .login_box form ul li:nth-child(2) input{
	margin-left: 40px;
	width: 253px;
	height: 26px;
	border: none;
	border-left: 1px solid #ccc;
	text-indent: 5px;
	outline: none;
}

.main .login .login_box form ul li:nth-child(3){
	width: 320px;
	height: 40px;
}
#remember{
	float: left;
}

.main .login .login_box form ul li:nth-child(3) label{
	float: left;
	margin-top: 1px;
	margin-left: 5px;
}
.main .login .login_box form ul li:nth-child(3) a{
	float: right;
	text-decoration: underline;
	margin-top: 1px;
}
.main .login .login_box form ul li:nth-child(4){
	width: 320px;
	height: 50px;
}
.main .login .login_box form ul li:nth-child(4) input{
	width: 320px;
	height: 50px;
	font-size: 18px;
	background: #09C762;
	border-radius: 4px;
	border: none;
	color: #fff;
	letter-spacing: 16px;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
}

.main .login .login_box form ul li:nth-child(4):hover input{
	background: #1E9246;
}

.main .login .login_box .other_login{
	margin-top: 20px;
}
.main .login .login_box .other_login a{
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background: url(../img/themes/images/other-login-bg.png) no-repeat;
	margin-top: 20px;
}

.main .login .login_box .other_login .qq{
	background-position: -40px 0;
}

.main .login .login_box .other_login .sina{
	background-position: 0 0;
}

.main .login .login_box .other_login .alipay{
	background-position: -80px 0;
}

.main .login .login_box .other_login .weixin{
	background-position: -200px 0;
}
#error{
	font-style: normal;
	color: red;
	letter-spacing: 0;
	font-size: 14px;
}










/*footer*/
.footer .footer_top{
	height: 90px;
	background: #09C762;
}
.footer .footer_top ul{
	width: 1200px;
	height: 90px;
	margin: 0 auto;
	overflow: hidden;
}
.footer .footer_top ul li{
	float: left;
}

.footer .footer_main{
	height: 270px;
	background: #fff;
}
.footer .footer_main .ft_link{
	width: 616px;
	height: 57px;
	margin: 0 auto;
	padding-top: 20px;
}
.footer .footer_main .ft_link li{
	float: left;
	padding: 0 20px;
	background: url(../img/themes/images/border-right.png) no-repeat right center;
}
.footer .footer_main .ft_link li:nth-last-child(1){
	background: none;
}

.footer .footer_main p{
	margin-top: 10px;
	text-align: center;
}

.footer .footer_main p span:nth-child(2){
	margin-left: 40px;
}

.footer .footer_main p em{
	color: #09C762;
	font-size: 24px;
	font-style: normal;
	margin-left: 2px;
}

.footer .footer_main p:nth-of-type(3) a{
	color: #999;
	margin-left: 10px;
}
.footer .footer_main p:nth-of-type(3) a:hover{
	color: #09C762;
}
.footer .footer_main p:nth-of-type(3){
	color: #999;
}
.footer .footer_main .certificate{
	width: 300px;
	height: 90px;
	margin: 0 auto;
	margin-top: 22px;
}

.footer .footer_main .certificate a{
	display: block;
	float: left;
	width: 90px;
	height: 90px;
	margin-left: 10px;
}
.footer .footer_main .certificate a:nth-child(2){
	width: 66px;
}
.footer .footer_main .certificate a img{
	width: 100%;
	height: 100%;
}